<style>


p
{ color:#0066CC;
   font-size:25px;
   font-family:"century gothic";
   background-color:#0066FF;
}
h6
{ color:#FFFFFF;
  background-color:#000000;
  font-size:25px;
  border-color:#3366FF;
  border-style:outset;
}
</style>  



<p>subhash kodavala</p>
<h6>welcome to css program</h6>